<div class="container m-3">
  <h2 class="mb-3 mt-3">My partnerships</h2>
  <div
    class="container partnership-card-container"
    id="partnership-card-container"
  >{{#if userData.length}}
      {{#each userData}}
        <div class="card mb-3" id="partnership-container-{{id}}">
          <div
            class="d-flex flex-column justify-content-between align-items-center"
          >
            <div
              class="card-header card-color partnership-header d-flex flex-row justify-content-between align-items-stretch"
            ><h4 class="card-title mr-2">{{projectName}}</h4>
              <a
                class="btn btn-primary"
                data-bs-toggle="collapse"
                href="#collapse-partnership-{{id}}"
                role="button"
                aria-expanded="false"
                aria-controls="collapse-partnership-{{id}}"
                data-id="{{id}}"
              >
                View Details
              </a>
            </div>
            <div class="collapse" id="collapse-partnership-{{id}}">
              <div class="card card-body">
                <div
                  class="d-flex flex-column justify-content-center"
                  id="task-details-container-{{id}}"
                >
                  <div class="d-flex flex-column">
                    <div>

                      <div class="d-flex flex-row justify-content-around">
                        <p>Partner 1: {{mentor.username}}</p><p>Email:
                          {{mentor.email}}</p></div>
                      <div class="d-flex flex-row"><p>
                          Frameworks:</p>
                        {{#each mentor.frameworks}}

                          <p
                            class="btn btn-dark mr-2 mb-0"
                          >{{frameworkName}}</p>

                        {{/each}}
                      </div>
                      <div class="d-flex flex-row justify-content-around">
                        <p>Partner 2: {{mentee.username}}</p><p>Email:
                          {{mentee.email}}</p></div>
                      <div class="d-flex flex-row"><p>
                          Frameworks:</p>
                        {{#each mentee.frameworks}}

                          <p
                            class="btn btn-dark mr-2 mb-0"
                          >{{frameworkName}}</p>

                        {{/each}}
                      </div>
                    </div>
                    {{#if tasks.length}}
                      {{#each tasks}}
                        <div
                          class="d-flex flex-row justify-content-center align-items-center"
                        >
                          <p class="task-detail">{{taskName}}
                            -
                            {{taskLevel}}
                            -
                            {{points}}
                            XP - Deadline:
                            {{formatDate assignedTask.taskDeadline}}
                          </p>
                          <p>
                            Status:
                            <span
                              class="status-span
                                {{assignedTask.taskComplete}}-status"
                              id="span-task-{{assignedTask.id}}"
                            >{{formatStatus
                                assignedTask.taskComplete
                              }}</span></p>
                          <button
                            class="btn btn-primary m-2"
                            name="change-status-btn"
                            id="status-btn-{{assignedTask.id}}"
                            data-status="{{assignedTask.taskComplete}}"
                            data-id="{{assignedTask.id}}"
                          >Change status</button>
                        </div>
                      {{/each}}
                    {{else}}
                      <div
                        class="d-flex flex-row justify-content-center align-items-center"
                      ><p> No tasks assigned yet</p></div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      {{/each}}
    {{else}}
      <p>No partnerships yet</p>
    {{/if}}
  </div>
</div>