{{> privateNavBar}}

<div class="db-container">
    <aside class="container d-flex flex-column aside-info">
        <div class="container" id="stats-container">
            <div class="profile-pic-div"><div class="profile-pic-box"><img class="profile-pic" src="{{user.profileImageUrl}}"></div></div>
            <p><i class="fa-solid fa-user"></i> <span>User</span> {{user.username}}</p>
            <p><i class="fa-solid fa-id-badge"></i> <span>User type</span> {{userType}}</p>
            <p><i class="fa-solid fa-envelope"></i> <span>Email</span> {{user.email}}</p>
            <p><i class="fa-solid fa-location-pin"></i> <span>Location</span> {{user.location}}</p>
            <p><i class="fa-solid fa-calendar"></i> <span>Availability</span> {{user.availability}}</p>
            <p><i class="fa-solid fa-chalkboard-user"></i> <span>Collaboration format</span> {{user.collaborationFormat}}</p>
            <p><i class="fa-brands fa-github"></i> <span>Github</span> {{user.gitHubUrl}}</p>
            <p><i class="fa-solid fa-star"></i> <span>XP</span> {{user.xp}}</p>
        </div>
        <div class="d-flex flex-column align-items-stretch mb-5">
        
        {{#if (isEqualTo userType "mentor")}}
            <a class="btn btn-primary btn-lg mt-4 db-btn" href="/search/tasks" role="button">Search for Tasks</a>
                
            <a class="btn btn-primary btn-lg mt-4 db-btn" href="/tasks" role="button">Create a Task</a>
        {{/if}}
        
            <a class="btn btn-primary btn-lg mt-4 db-btn" href="/editInfo" role="button">Edit Your Profile</a>
        
        </div>
    </aside>
    <div class="d-flex flex-column main-info">
        <section class="d-flex flex-column align-items-center frameworks-info">
            <div class="my-frameworks-container container" id="my-frameworks-container">
                {{>myFrameworks}}
            </div>
            <div class="container partnerships-info" id="partnerships-container">
                {{>partnerships}}
            </div>
            <div class="container partners-contact-info" id="partners-contact-container">

            </div>
        </section>
    </div>
</div>