{{> privateNavBar}}

<div class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h2 class="text-center">Edit Your Profile</h2>
    <hr />

    <h6 class="signup-info mt-4">Personal Information</h6>
    
    <form id="update-form" data-user-type="{{userType}}" data-user-id="{{currentUser.id}}">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          value="{{currentUser.firstName}}"
          placeholder="Enter first name*"

        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="lastName"
          value="{{currentUser.lastName}}"
          placeholder="Enter last name*"

        />
      </div>
       
       <div class="mb-3">
        <input
          type="username"
          class="form-control"
          id="username"
          value="{{currentUser.username}}"
          disabled="disabled"
        />
      </div>

      <hr />

    <h6 class="signup-info">Login Information</h6>

      <div class="mb-3">
        <input
          type="emailAddress"
          class="form-control"
          id="email"
          value="{{currentUser.email}}"
          disabled="disabled"
        />
      </div>
      
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          value="{{currentUser.password}}"
          pattern="^(?=.*\d).{6,18}$"
          placeholder="Enter new password"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          value="{{currentUser.password}}"
          placeholder="Confirm new password"
        />
      </div>

    <hr />

    <h6 class="signup-info">Profile Information</h6>

      <div>
        <select class="sign-up-select form-select mb-3" id="availability" aria-label="availability">
          <option>Select availability*</option>
          <option {{#if (isEqualTo currentUser.availability "weekdays")}} selected {{/if}}value="weekdays">Weekdays</option>
          <option {{#if (isEqualTo currentUser.availability "weekends")}} selected {{/if}}value="weekends">Weekends</option>
          <option {{#if (isEqualTo currentUser.availability "both")}} selected {{/if}}value="both">Both</option>
        </select>
      </div>

      <div>
        <select class="sign-up-select form-select mb-3" id="collaborationFormat" aria-label="collaborationFormat">
          <option>Select collaboration format*</option>
          <option {{#if (isEqualTo currentUser.collaborationFormat "online")}} selected {{/if}} value="online">Online</option>
          <option {{#if (isEqualTo currentUser.collaborationFormat "in-person")}} selected {{/if}} value="in-person">In-Person</option>
          <option {{#if (isEqualTo currentUser.collaborationFormat "hybrid")}} selected {{/if}} value="hybrid">Hybrid</option>
        </select>
      </div>
      
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="location"
          value="{{currentUser.location}}"
          placeholder="Enter location*"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="personalGoal"
          value="{{currentUser.personalGoal}}"
          placeholder="Enter personal goal*"
        />
      </div>

    <hr />

    <h6 class="signup-info">Links</h6>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="profileImageUrl"
          value={{#if currentUser.profileImageUrl}} "{{currentUser.profileImageUrl}}" {{else}}"Enter profile image URL (optional)"{{/if}}
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="gitHubUrl"
          value={{#if currentUser.gitHubUrl}} "{{currentUser.gitHubUrl}}" {{else}}"Enter GitHub URL (optional)"{{/if}}
        />
      </div>

      <div id="edit-error"></div>

      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary" id="save-edit-btn">Save</button>
      </div>

      <div class="mb-3 text-center error-text">
        <a href="/dashboard">Cancel</a>
      </div>
    </form>
  </section>
</div>