{{> privateNavBar}}

<main class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h2 class="text-center">Edit Your Information</h2>
    <hr />
    
    <form class="mt-4" id="update-form">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder={{user.firstName}}
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder={{user.lastName}}
        />
      </div>
       
       <div class="mb-3">
        <input
          type="username"
          class="form-control"
          id="username"
          placeholder={{user.username}}
          disabled="disabled"
        />
      </div>

      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder={{user.email}}
          disabled="disabled"
        />
      </div>
      
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder={{user.password}}
          pattern="^(?=.*\d).{6,18}$"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder={{user.password}}
        />
      </div>

{{!-- checkbox and dropdown formats --}}
      {{!-- <div class="ml-1 mb-3">
        <p id="availability">Select availability*</p>
      </div> --}}

{{!-- TODO fix bug when clicking on words instead of boxes --}}
      {{!-- <div class="form-check ml-2 mb-3">
        <input class="form-check-input" type="checkbox" id="weekdays">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Weekdays
        </label>
        <input class="form-check-input" type="checkbox" id="weekends">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Weekends
        </label>
        <input class="form-check-input" type="checkbox" id="mornings">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Mornings
        </label>
        <input class="form-check-input" type="checkbox" id="afternoons">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Afternoons
        </label>
        <input class="form-check-input" type="checkbox" id="evenings">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Evenings
        </label>
      </div> --}}

{{!-- TODO fix styling and dropdown functionality --}}
      <div>
        <select class="form-select mb-3" id="availability" aria-label="availability">
          <option>Select availability*</option>
          <option {{#if (isEqualTo user.availability)}} selected {{/if}}value="weekdays">Weekdays</option>
          <option {{#if (isEqualTo user.availability)}} selected {{/if}}value="weekends">Weekends</option>
          <option {{#if (isEqualTo user.availability)}} selected {{/if}}value="both">Both</option>
        </select>
      </div>

      <div>
        <select class="form-select mb-3" id="collaborationFormat" aria-label="collaborationFormat">
          <option>Select collaboration format*</option>
          <option {{#if (isEqualTo user.collaborationFormat)}} selected {{/if}} value="online">Online</option>
          <option {{#if (isEqualTo user.collaborationFormat)}} selected {{/if}} value="in-person">In-Person</option>
          <option {{#if (isEqualTo user.collaborationFormat)}} selected {{/if}} value="hybrid">Hybrid</option>
        </select>
      </div>
      
      <div>
        <select class="form-select mb-3" id="location" aria-label="location">
          <option>Select location*</option>
          <option {{#if (isEqualTo user.location)}} selected {{/if}} value="birmingham">Birmingham</option>
          <option {{#if (isEqualTo user.location)}} selected {{/if}} value="london">London</option>
          <option {{#if (isEqualTo user.location)}} selected {{/if}} value="manchester">Manchester</option>
        </select>
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="personalGoal"
          placeholder={{user.personalGoal}}
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="profileImageUrl"
          placeholder={{#if (user.profileImageUrl)}} user.profileImageUrl {{else}}"Enter profile image URL (optional)"{{/if}}
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="gitHubUrl"
          placeholder={{#if (user.gitHubUrl)}} user.gitHubUrl {{else}}"Enter GitHub URL (optional)"{{/if}}
        />
      </div>

      <div id="edit-error"></div>

      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary" id="save-edit-btn" value={{userType}}>Save</button>
      </div>
      <div class="mb-3 text-center error-text">
        <a href="/dashboard">Cancel</a>
      </div>

    </form>
  </section>
</main>