<main>
  <section>
    <div class="main-container">
      <div class="offer offer-full">
        <div class="inner-sidebar">
          <div class="profile">
            <div class="avatar-wrapper">
              <img src={{user.profileImageUrl}} />
            </div>
            <div class="btn">
              <a
                href="mailto:{{user.email}}"
                class="card-message"
                data-attr=""
              ><i class="uil uil-envelope-alt"></i> Send Message</a>
            </div>
          </div>
          <div class="profile-info">
            <div class="contact-data">
              <div class="email">
                <i class="uil uil-at"></i>
                {{user.email}}
              </div>
            </div>
            <div class="info-data">
              <div class="feat-city">
                <i class="uil uil-map-marker"></i>
                {{user.collaborationFormat}}
              </div>
              <div class="feat-city">
                <i class="uil uil-map-marker"></i>
                {{user.location}}
              </div>
              <div class="feat-calendar">
                <i class="uil uil-schedule"></i>
                {{user.availability}}
              </div>
            </div>
          </div>
        </div>
        <div class="offer-content">
          <div class="offer-title">Hi! I'm {{user.username}}</div>
          <div class="offer-full-content">
            {{user.personalGoal}}
          </div>
          <div class="offer-title">Experience - Earned XP</div>
          <div class="offer-full-content">
            {{user.xp}}
          </div>
        </div>

        <div class="frameworks">
          <div class="fr-title">I'm keen to learn about:</div>
          {{#each user.frameworks}}
            <div class="framework-example">
              <i class="uil uil-html5 about-icon"></i>
              <h3 class="about-title">{{frameworkName}}</h3>
            </div>
          {{/each}}

        </div>
      </div>
    </div>
  </section>
</main>